<%- model_class = Award -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='award'>
  <p><%= @award.name %></p>
  <p><%= @award.order %></p>
</div>